<!doctype html>
<html>
    <head>
        <title>Flask IDE</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css"
        />
    </head>
    <body>
        <div id="layout">
            <div id="file-tree-container">
                <ul id="file-tree"></ul>
            </div>
            <textarea id="editor"></textarea>
            <div id="terminal"></div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
